on: [push]

jobs:
  pages-directory-listing:
    runs-on: ubuntu-latest
    name: Test Actions Template
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Directory Listings
        uses: ./ # Uses an action in the root directory
        with:
          FOLDER: tests

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: tests